nav .navbar-brand {
    font-size: 26px;
    font-family: 'Holtwood One SC', serif;
}

img {
    height: 450px;
    width: 600px;
}

.row h1{
    margin-left: 250px;
    margin-top: 30px;
    color: rgb(83, 81, 81);
    line-height: 3.0rem;
    font-size: 45px;
    font-family: 'Ultra', serif;
}

p {
    font-family: 'Neucha', cursive;
    font-size: 1.4rem;
}
.row p {
    margin-left: 250px;
    margin-top: 70px;
    font-size: 1.2rem;
}


.about{
    line-height: 2.1rem;
    padding: 20px;
    text-align: center;
}

.overlaying-text {
    position: relative;
    text-align: center;
    color: white;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.services img{
    width: 1200px;
    height: 500px;
    margin-top: 70px;
}
.sub-headers {
    margin-top: 15px;
    padding: 20px;
    text-align: center;
}
.services h2 {
    margin-top: 250px;
    padding: 15px;
}
.services p {
    line-height: 2.1rem;
}