nav .navbar-brand {
    font-size: 26px;
    font-family: 'Holtwood One SC', serif;
}

img {
    height: 450px;
    width: 600px;
}

.row h1{
    margin-left: 250px;
    margin-top: 30px;
    color: rgb(83, 81, 81);
    line-height: 3.0rem;
    font-size: 45px;
    font-family: 'Ultra', serif;
}

p {
    font-family: 'Neucha', cursive;
    font-size: 1.4rem;
}
.row p {
    margin-left: 250px;
    margin-top: 70px;
    font-size: 1.2rem;
}


.about{
    line-height: 2.1rem;
    padding: 20px;
    text-align: center;
}

.overlaying-text {
    position: relative;
    text-align: center;
    color: white;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.services img{
    width: 1200px;
    height: 500px;
    margin-top: 70px;
}
.sub-headers {
    margin-top: 15px;
    padding: 20px;
    text-align: center;
}
.services h2 {
    margin-top: 250px;
    padding: 15px;
}
.services p {
    line-height: 2.1rem;
}

.container .col-4 {
    text-align: center;
    line-height: normal;
    display: inline-block;
    font-size: 13px;
}

.container .col-4 img {
    width: 300px;
    height: 150px;
    padding: 10px;
}

span {
    font-size: 15px;
    font-family: 'Neucha', cursive;
}

#description-service1 {
    display: none;
}

#description-service2{
    display: none;
}

#description-service3{
    display: none;
}

.container .row .col-3 {
    padding: 10px;
}

.container .row .col-3 img{
    width: 300px;
    height: 150px;
}

.container .col2 {
    padding-left: 40px;
}

.container .col3 {
    padding-left: 40px;
}

.container .col4 {
    padding-left: 40px;
}

.background-text1 {
    position: relative;
    text-align: center;
    color: white;
}

#news {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

.background-text2 {
    position: relative;
    text-align: center;
    color: white;
}

#photography {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

.background-text3 {
    position: relative;
    text-align: center;
    color: white;
}

#security {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

.background-text4 {
    position: relative;
    text-align: center;
    color: white;
}

#grocery {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

.background-text5 {
    position: relative;
    text-align: center;
    color: white;
}

#music {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

.background-text6 {
    position: relative;
    text-align: center;
    color: white;
}

#ecommerce {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

.background-text7 {
    position: relative;
    text-align: center;
    color: white;
}

#design {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

.background-text8 {
    position: relative;
    text-align: center;
    color: white;
}

#restaurant {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }